<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AppFour</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SendError</display-name>
    <servlet-name>SendError</servlet-name>
    <servlet-class>com.dss.SendError</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendError</servlet-name>
    <url-pattern>/SendError</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RedirectHiper</display-name>
    <servlet-name>RedirectHiper</servlet-name>
    <servlet-class>com.dss.RedirectHiper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectHiper</servlet-name>
    <url-pattern>/RedirectHiper</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RedirectSendHeader</display-name>
    <servlet-name>RedirectSendHeader</servlet-name>
    <servlet-class>com.dss.RedirectSendHeader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectSendHeader</servlet-name>
    <url-pattern>/RedirectSendHeader</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RedirectDirectly</display-name>
    <servlet-name>RedirectDirectly</servlet-name>
    <servlet-class>com.dss.RedirectDirectly</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectDirectly</servlet-name>
    <url-pattern>/RedirectDirectly</url-pattern>
  </servlet-mapping>
</web-app>